<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="{{ formFields.USERNAME }}" />
      <mat-error>
        <app-validation-error-display
          [control]="form.get(formFields.USERNAME)"
          [fieldName]="formFields.USERNAME"
        ></app-validation-error-display>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="{{ formFields.EMAIL }}" />
      <mat-error>
        <app-validation-error-display
          [control]="form.get(formFields.EMAIL)"
          [fieldName]="formFields.EMAIL"
        ></app-validation-error-display>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email again</mat-label>
      <input matInput type="email" formControlName="{{ formFields.EMAIL_AGAIN }}" />
      <mat-error>
        <app-validation-error-display
          [control]="form.get(formFields.EMAIL_AGAIN)"
          [fieldName]="formFields.EMAIL_AGAIN"
        ></app-validation-error-display>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="{{ formFields.PASSWORD }}" />
      <mat-error>
        <app-validation-error-display
          [control]="form.get(formFields.PASSWORD)"
          [fieldName]="formFields.PASSWORD"
        ></app-validation-error-display>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password again</mat-label>
      <input matInput type="password" formControlName="{{ formFields.PASSWORD_AGAIN }}" />
      <mat-error>
        <app-validation-error-display
          [control]="form.get(formFields.PASSWORD_AGAIN)"
          [fieldName]="formFields.PASSWORD_AGAIN"
        ></app-validation-error-display>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="{{ formFields.FIRST_NAME }}" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="{{ formFields.LAST_NAME }}" />
    </mat-form-field>

      <button mat-raised-button [disabled]="form.invalid" type="submit">Register</button>
      <button mat-button [routerLink]="routes.LOGIN_PATH" type="button">Login</button>
  </form>
</div>
