.navbar {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 20px;

  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;

  box-sizing: border-box;
}
