<h2 mat-dialog-title>Update user role</h2>

<mat-dialog-content>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="{{ formFields.USERNAME }}" />
        <mat-error>
          <app-validation-error-display
            [control]="form.get(formFields.USERNAME)"
            [fieldName]="formFields.USERNAME"
          ></app-validation-error-display>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="{{ formFields.ROLE_NAME }}">
          @for (role of roles; track role) {
            <mat-option>
              {{ role }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          <app-validation-error-display
            [control]="form.get(formFields.ROLE_NAME)"
            [fieldName]="formFields.ROLE_NAME"
          ></app-validation-error-display>
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle formControlName="{{ formFields.ADD }}">
        {{ form.get(formFields.ADD)?.value ? 'Add' : 'Remove' }}
      </mat-slide-toggle>

      <button mat-flat-button [disabled]="form.invalid" type="submit">Submit</button>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
