.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .spinner {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &::after {
    content: '';
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    width: 3ch;
    text-align: left;
    animation: dots 1s steps(3, end) infinite;
  }
}

@keyframes dots {
  0%,
  20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%,
  100% {
    content: '...';
  }
}
